<div class="center mw7 mt5">
  <span class="black i baskerville f2 nowrap">Captain&rsquo;s Log: Puller</span>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "form/field", :f => f, :field => :email do %>
      <%= f.email_field :email, autofocus: true, :autocomplete => "email", :class => "input-reset ba b--black-20 pa2 mb2 db w-100" %>
    <% end %>

    <%= render "form/field", :f => f, :field => :password do %>
      <%= f.password_field :password, :autocomplete => "password", :class => "input-reset ba b--black-20 pa2 mb2 db w-100" %>
    <% end %>

    <%= render "form/field", :f => f, :field => :password_confirmation do %>
      <%= f.password_field :password_confirmation, :autocomplete => "password", :class => "input-reset ba b--black-20 pa2 mb2 db w-100" %>
    <% end %>

    <div class="mt4">
      <%= f.submit t(:sign_up) %>
    </div>
  <% end %>

  <div class="lh-copy mt3">
    <%= render "devise/shared/links" %>
  </div>
</div>
