<%= render "layouts/content-view" do %>
  <table class="f6 w-50-l">
    <tbody class="lh-copy">
      <tr>
        <td class="pv2 ph3 bb b--black-10 nowrap w2 br b tr"><%= t(:status) %></td>
        <td class="pv2 ph3 bb b--black-10 nowrap"><%= job.status.humanize %></td>
      </tr>
      <tr>
        <td class="pv2 ph3 bb b--black-10 nowrap w2 br b tr"><%= t(:kind) %></td>
        <td class="pv2 ph3 bb b--black-10 nowrap"><%= job.presenter.kind %></td>
      </tr>
      <tr>
        <td class="pv2 ph3 bb b--black-10 nowrap w2 br b tr"><%= t(:message) %></td>
        <td class="pv2 ph3 bb b--black-10 mw7"><%= job.message %></td>
      </tr>
      <tr>
        <td class="pv2 ph3 bb b--black-10 nowrap w2 br b tr"><%= t(:run_time) %></td>
        <td class="pv2 ph3 bb b--black-10 nowrap"><%= job.presenter.run_time %></td>
      </tr>
      <tr>
        <td class="pv2 ph3 bb b--black-10 nowrap w2 br b tr"><%= t(:created_at) %></td>
        <td class="pv2 ph3 bb b--black-10 nowrap"><%= job.created_at %></td>
      </tr>
      <tr>
        <td class="pv2 ph3 bb b--black-10 nowrap w2 br b tr"><%= t(:started_at) %></td>
        <td class="pv2 ph3 bb b--black-10 nowrap"><%= job.started_at %></td>
      </tr>
      <tr>
        <td class="pv2 ph3 bb b--black-10 nowrap w2 br b tr"><%= t(:stopped_at) %></td>
        <td class="pv2 ph3 bb b--black-10 nowrap"><%= job.stopped_at %></td>
      </tr>
    </tbody>
  </table>

  <% if job.logs&.present? %>
    <pre class="bg-near-white pa3 mt4 pre job-logs"><%= job.logs %></pre>
  <% else %>
    <p class="lh-copy i f6 mt4"><%= t(:no_logs) %></p>
  <% end %>
<% end %>
