<header>
  <table>
    <tr>
      <td>
        <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>
      </td>
      <td>
        <%= render "book/nav", :books => current_user.books %>
      </td>
      <td>
        <% if current_user %>
          <form action="<%= search_path %>" class="search">
            <label>
              <input type="text" name="query" />
              <%= image_tag("search.svg") %>
            </label>
          </form>
          <%= link_to current_user.display_character, user_path, :class => "circular" %>
        <% end %>
      </td>
    </tr>
  </table>
</header>

<div class="standalone">
  <%= render "book/nav", :books => current_user.books %>
</div>
