<header>
  <table>
    <tr>
      <td>
        <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>
      </td>
      <td>
        <% if current_user %>
          <form action="<%= search_path %>" class="search">
            <label>
              <%= image_tag("search.svg") %>
              <input type="text" name="query" />
            </label>
          </form>
          <%= link_to t(:sign_out), destroy_user_session_path, :class => "right", :method => :delete %>
        <% else %>
          <%= link_to t(:sign_in), new_user_session_path, :class => "right" %>
        <% end %>
      </td>
    </tr>
  </table>
</header>
