<%= render "layouts/content-view" do %>
  <% if results.empty? %>
    <div class="no-search-results">
      <h2><%= t(:no_search_results_for, :query => query) %></h2>
      <form action="<%= search_path %>">
        <input
          autofocus="true"
          type="text"
          name="query"
          placeholder="<%= t(:search_again_q) %>"
        />
      </form>
    <div>
  <% else %>
    <h2><%= t(:search_results_for, :query => query) %></h2>
    <%= render "entry/list", :entries => results %>
    <%= render "entry/fin" %>
  <% end %>
<% end %>
