<%= render "book/nav", :books => books, :current_book => nil %>

<div class="content-view">
  <% if results.empty? %>
    <center>
      <h2 class="mt1"><%= t(:no_search_results_for, :query => query) %></h2>
    <center>
  <% else %>
    <h2><%= t(:search_results_for, :query => query) %></h2>
    <%= render "entry/list", :entries => results %>
    <%= render "entry/fin" %>
  <% end %>
</div>
