<div class="table">
  <table class="table">
    <tr>
      <th><%= t(:id) %></td>
      <th><%= t(:status) %></td>
      <th><%= t(:kind) %></td>
      <th><%= t(:arguments) %></td>
      <th><%= t(:created_at) %></td>
    </tr>
    <% jobs.each do |job| %>
      <tr>
        <td>
          <%= link_to job.id, job_path(job), :class => "link" %>
        </td>
        <td><%= job.status %></td>
        <td><%= job.kind %></td>
        <td><%= job.decoded_args.to_json %></td>
        <td><%= job.created_at %></td>
      </tr>
    <% end %>
  </table>
</div>
