<%= render "layouts/content-view" do %>
  <% if connections.empty? %>
    <p class="pl2 lh-copy"><%= t(:no_connections_create_one) %></p>
    <%= render "connection/form" %>
  <% else %>
    <%= render "connection/list", :connections => connections %>
    <div class="pt5"></div>
    <%= render "job/list", :jobs => jobs %>
  <% end %>
<% end %>

<%= javascript_include_tag "home" %>
