<%= render "layouts/content-view" do %>
  <% if connections.empty? %>
    <p class="pl2 lh-copy"><%= t(:no_connections_create_one) %></p>
    <%= AvailableConnectionsComponent.render %>
  <% else %>
    <%= ConnectionTableComponent.render(:connections => connections) %>
    <div class="pt5"></div>
    <%= JobTableComponent.render(:jobs => jobs) %>
  <% end %>
<% end %>

<%= javascript_include_tag "home" %>
