<div class="table">
  <table class="table">
    <tr>
      <th><%= t(:id) %></td>
      <th><%= t(:data_source) %></td>
      <th><%= t(:book) %></td>
    </tr>
    <% connections.each do |connection| %>
      <tr>
        <td>
          <%= link_to connection.id, connection_path(connection), :class => "link" %>
        </td>
        <td><%= connection.data_source %></td>
        <td><%= connection&.book&.name %></td>
      </tr>
    <% end %>
  </table>
</div>
