<%= form_for(entry, :url => book_entry_path(entry.book.slug, entry.id), :method => :patch) do |f| %>
  <%= render "entry/input", :config => { :text => entry.text, :name => "original_text", :rows => 5 } %>

  <div class="field mw7">
    <label class="f6 lh-copy db"><%= t(:processed_data) %></label>
    <%= render "entry/datum", :datum => entry.data %>
  </div>

  <%= render "form/field", :f => f, :field => :processed_text do %>
    <%= f.text_field :processed_text, :readonly => true %>
  <% end %>

  <%= render "form/field", :f => f, :field => :original_text do %>
    <%= f.text_field :original_text, :readonly => true %>
  <% end %>

  <%= render "form/timestamps", :f => f %>
  <%= render "form/actions", :f => f,
    :paths => {
      :back => :back,
      :delete => book_entry_url(entry.book.slug, entry)
    }
  %>
<% end %>
