<%= render "layouts/header" %>

<div class="content-view">
  <%= form_for(entry, :url => entry_path, :method => :patch) do |f| %>
    <textarea
      name="original_text"
      rows="5"
      class="entry-input"
      autofocus="true"
      data-enter-to-submit="true"
    ><%= entry.text %></textarea>

    <script>
      $(setupSubmitFormOnTextareaPressEnter)
    </script>

    <%= render "entry/datum", :entry => entry %>

    <br>

    <div class="field btns">
      <%= f.submit t(:save), :class => "w1 btn" %>
      <%= link_to t(:cancel), :back %>
    </div>
  <% end %>
</div>
