<%= render "layouts/header" %>

<div class="content-view">
  <%= form_for(entry, :url => entry_path, :method => :patch) do |f| %>
    <textarea
      name="original_text"
      rows="5"
      class="entry-input"
      autofocus="true"
    ><%= entry.text %></textarea>

    <div class="field entry-datum">
      <% entry.user_data.each do |key, val| %>
        <span class="entry-data"><%= key %>: <%= val %></span>
      <% end %>
    </div>

    <div class="field btns">
      <%= f.submit t(:save), :class => "w1 btn" %>
      <%= link_to t(:cancel), :back %>
    </div>
  <% end %>
</div>
