<tr data-connection-id="<%= connection.id %>">
  <td class="nowrap pv0 pl0 bb b--black-10 service <%= "service-#{connection.service}" %>"></td>
  <td class="nowrap pv0 pl0 bb b--black-10 dn dtc-ns">
    <% connection.recent_stats.each do |(id, status, _run_time)| %>
      <%= link_to "", job_path(id), :class => "link job-status-ball-#{status}" %>
    <% end %>
  </td>
  <td class="nowrap pv3 pr3 bb b--black-10">
    <% connection.resources.each do |resource| %>
      <span
        class="f7 pv1 ph2 ba b--black-20 pointer"
        title="<%= resource.urn %>"><%= resource.label %></span>
    <% end %>
  </td>
  <td class="nowrap pv3 pr3 bb b--black-10"><%= connection.jobs.count %></td>
  <td class="nowrap pv3 pr3 bb b--black-10"><%= connection.last_updated_at %></td>
  <td class="nowrap pv3 pr3 bb b--black-10">
    <% if connection.source? %>
      <%= link_to t(:schedule_pull), schedule_pull_connection_path(connection), :class => "link blue", :remote => true %>
    <% end %>
  </td>
  <td class="nowrap pv3 pr3 bb b--black-10">
    <%= link_to t(:authenticate), authenticate_connection_path(connection), :class => "link blue" %>
  </td>
  <td class="nowrap pv3 pr3 bb b--black-10">
    <%= link_to t(:delete), connection_path(connection), :method => :delete, :data => { :confirm => t(:are_you_sure) }, :class => "link blue" %>
  </td>
</tr>
