<%= form_for(User.new, :url => user_session_path) do |f| %>
  <%= render "form/field", :f => f, :field => :email do %>
    <%= f.email_field :email, :autofocus => true, :autocomplete => "email", :class => "w-100" %>
  <% end %>

  <%= render "form/field", :f => f, :field => :password do %>
    <%= f.password_field :password, :autocomplete => "current-password", :class => "w-100" %>
  <% end %>

  <div class="mt2">
    <label class="f6 lh-copy">
      <%= f.check_box :remember_me %>
      <%= t(:remember_me) %>
    </label>
  </div>

  <div class="mt4">
    <%= f.hidden_field :callback, :name => :callback, :value => params[:callback] %>
    <%= f.submit t(:sign_in), :class => "" %>
  </div>
<% end %>
