<%= render "layouts/header" %>

<div class="content-view">
  <%= render "users/edit_form", :user => user %>

  <hr />

  <h2><%= t(:books) %></h2>

  <%= render "book/list", :books => user.books %>

  <br>

  <%= link_to t(:add_new_book), "", :class => "btn" %>

  <hr />

  <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete, :class => "btn destructive" %>
</div>
