<%= render "layouts/full-content-view" do %>
  <div class="measure-wide">
    <%= render "form/title", :key => :settings %>
    <%= render "users/edit_form", :user => user %>
  </div>

  <%= render "form/subtitle", :key => :books %>
  <%= render "book/list", :books => user.books %>

  <%= render "form/subtitle", :key => :reports %>
  <%= render "report/list", :reports => user.reports %>
<% end %>
