<%= render "layouts/header" %>

<div class="content-view">
  <%= render "users/edit_form", :user => user %>

  <hr />

  <h2><%= t(:books) %></h2>
  <%= render "book/list", :books => user.books %>
  <div class="field btns">
    <%= link_to t(:add_new_book), new_book_path, :class => "btn" %>
  </div>

  <hr />

  <%= link_to t(:sign_out), destroy_user_session_path,
    :method => :delete,
    :class => "btn destructive"
  %>
</div>
