<%= render "layouts/full-content-view" do %>
  <div class="measure-wide">
    <%= render "form/title", :key => :settings %>
    <%= render "users/edit_form", :user => user %>
  </div>

  <%= render "form/subtitle", :key => :books %>
  <%= render "book/list", :books => user.books %>

  <%= render "form/subtitle", :key => :reports %>
  <%= render "report/list", :reports => user.reports %>

  <%# <%= render "form/subtitle", :key => :connections %>
  <%# <%= render "connection/list", :connections => user.connections %>
  <%# <div class="field btns">
  <%#   <%= link_to t(:add_new_connection), new_connection_path, :class => "btn" %>
  <%# </div>

  <%# <%= render "form/subtitle", :key => :jobs %>
  <%# <%= render "job/list", :jobs => user.jobs %>
<% end %>
