<%= form_for(user, :url => me_path) do |f| %>
  <div class="measure-wide">
    <h2 class="lh-copy mt0"><%= t(:update_user) %></h2>

    <%= render "form/field", :f => f, :field => :email do %>
      <%= f.email_field :email,
        :class => "input-reset ba b--black-20 pa2 mb2 db w-100",
        :placeholder => t(:email) %>
    <% end %>

    <p class="lh-copy i f6 mt4"><%= t(:update_password) %></p>

    <%= render "form/field", :f => f, :field => :password do %>
      <%= f.password_field :current_password,
        :class => "input-reset ba b--black-20 pa2 mb2 db w-100",
        :placeholder => t(:current_password) %>
    <% end %>

    <%= render "form/field", :f => f, :field => :password do %>
      <%= f.password_field :password,
        :class => "input-reset ba b--black-20 pa2 mb2 db w-100",
        :placeholder => t(:password) %>
    <% end %>

    <%= render "form/field", :f => f, :field => :password_confirmation do %>
      <%= f.password_field :password_confirmation,
        :class => "input-reset ba b--black-20 pa2 mb2 db w-100",
        :placeholder => t(:password_confirmation) %>
    <% end %>

    <div class="mt4">
      <input type="submit" value="<%= t(:submit) %>" />
    </div>
  </div>
<% end %>
