<div class="center mw7 mt5">
  <span class="black i baskerville f2 nowrap">Captain&rsquo;s Log: Puller</span>
  <p class="lh-copy mb4"><%= t(:intro_message) %></p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "form/field", :f => f, :field => :email do %>
      <%= f.email_field :email, autofocus: true, :autocomplete => "email", :class => "input-reset ba b--black-20 pa2 mb2 db w-100" %>
    <% end %>

    <%= render "form/field", :f => f, :field => :password do %>
      <%= f.password_field :password, :autocomplete => "password", :class => "input-reset ba b--black-20 pa2 mb2 db w-100" %>
    <% end %>

    <div class="mt2">
      <% if devise_mapping.rememberable? %>
        <label class="f6 lh-copy">
          <%= f.check_box :remember_me %>
          <%= t(:remember_me) %>
        </label>
      <% end %>
    </div>

    <div class="lh-copy mt4">
      <%= f.submit t(:sign_in), :class => "f6 link bn pa0 input-reset pointer blue" %>
      <span class="f6"><%= t(:or) %></span>
      <%= link_to t(:sign_up).downcase, new_registration_path(resource_name), :class => "link blue f6 link" %>
    </div>
  <% end %>
</div>
