<div class="table">
  <table class="table">
    <tr>
      <th><%= t(:id) %></td>
      <th><%= t(:label) %></td>
      <th><%= t(:default_value) %></td>
      <th><%= t(:query) %></td>
    </tr>
    <% variables.each do |variable| %>
      <tr>
        <td>
          <%= link_to variable.id, edit_report_report_variable_path(report, variable), :class => "link" %>
        </td>
        <td class="nowrap"><%= variable.label %></td>
        <td><%= variable.default_value %></td>
        <td class="codesnippet"><%= variable.query %></td>
      </tr>
    <% end %>
  </table>
</div>
