<div class="table">
  <table class="table">
    <tr>
      <th><%= t(:id) %></td>
      <th><%= t(:name) %></td>
      <th><%= t(:slug) %></td>
      <th><%= t(:grouping) %></td>
      <th><%= t(:collections) %></td>
      <th><%= t(:entries) %></td>
      <th><%= t(:dirty_entries) %></td>
    </tr>
    <% books.each do |book| %>
      <tr>
        <td>
          <%= link_to book.id, edit_book_path(book.slug), :class => "link" %>
        </td>
        <td class="nowrap"><%= book.name %></td>
        <td><%= book.slug %></td>
        <td><%= t("group_by_#{book.grouping}") %></td>
        <td class="text-right"><%= book.collections.count %></td>
        <td class="text-right"><%= book.entries.count %></td>
        <td class="text-right">
          <% if book.dirty? %>
            <%= book.dirty_entries.count %>
          <% else %>
            0
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
