<%= render "book/nav", :books => @books, :current_book => @book %>

<br>
<br>

<%= form_for(@book, :url => book_entry_path(@book), :method => :post) do |f| %>
  <textarea name="text" rows="1" placeholder="<%= t(:enter_new_log) %>" class="entry-textarea"></textarea>

  <input type="hidden" name="book_id" value="<%= @book.id %>" />

  <%= f.submit t(:submit) %>
<% end %>

<% @entries.each do |entry| %>
  <div><%= entry.text %></div>
<% end %>
