<%= render "layouts/content-view" do %>
  <form method="post" action="<%= book_entry_path(book.slug) %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <%= hidden_field_tag :requested_time, requested_time.to_i -%>

    <%= render "entry/input", :config => { :requested_time => requested_time } %>
    <%= render "book/group_nav", :book => book, :requested_time => requested_time %>
  </form>

  <br>

  <%= render "entries/list", :entries => entries %>
  <%= render "entries/fin" %>
<% end %>
