<%= render "layouts/full-content-view" do %>
  <div class="mw8 mt3 center">
    <form method="post" action="<%= book_entry_index_path(book.slug) %>">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <%= hidden_field_tag :requested_time, requested_time.to_i -%>

      <%= render "entry/input", :config => { :requested_time => requested_time } %>
      <%= render "book/group_nav", :book => book, :requested_time => requested_time %>
    </form>

    <br>

    <%= render "entry/list", :entries => entries %>
    <%= render "entry/fin" %>
  </div>

  <script><%= EntryHelper.entry_processing_polling_code(entries).html_safe %></script>
<% end %>
