<%= form_for(user, :url => user_path(user), :method => :patch) do |f| %>
  <div class="field">
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
    <%= render "layouts/field_error", :resource => user, :field => :name %>
  </div>

  <div class="field">
    <%= f.label :email, t(:email) %>
    <%= f.email_field :email %>
    <%= render "layouts/field_error", :resource => user, :field => :email %>
  </div>

  <div class="field">
    <%= f.label :timezone, t(:timezone) %>
    <%= select(:user, :timezone, TZInfo::Timezone.all_identifiers, :object => user) %>
    <%= render "layouts/field_error", :resource => user, :field => :timezone %>
  </div>

  <div class="field btns">
    <%= f.submit t(:save), :class => "w1 btn" %>
    <%= link_to t(:cancel), user_path(user) %>
  </div>
<% end %>
